@model List<Models.EF.About>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div >
    <nav class="navbar">
        <span><a href="/"><i class="fas fa-home"></i> Trang Chủ</a> / <a href="/gioi-thieu">Giới Thiệu</a></span>
    </nav>


    <div class="container">
        @foreach (var item in Model)
        {
            @Html.Raw(item.Detail)
        }

    </div>

</div>

