@model List<Models.EF.About>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="">
    <nav class="navbar" style="background:#4facfe">
        <span class="" style="color:white"><a href="/" style="color:white;"><i class="fas fa-home"></i> Trang Chủ</a> / <a href="/gioi-thieu" style="color:white;">Giới Thiệu</a></span>
    </nav>


    <div class="container">
        @foreach (var item in Model)
        {
            @Html.Raw(item.Detail)
        }

    </div>

</div>

