@model List<WebBacklink.Models.SaveItem>

<div class="cart">
    <p>Chào Mừng Bạn Đến Với WebSite! <span>Bài Viết Lưu</span></p><div id="dd" class="wrapper-dropdown-2">
        @Model.Count Bài Viết 
        <ul class="dropdown">
            <li>you have no items in your Shopping cart</li>
        </ul>
    </div><p></p>
</div>
