@model List<WebBacklink.Models.SaveItem>

<div class="bottom-bar">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-md-3">
                <div class="logo">
                    <a href="/">
                        <img src="/Assets/Customer/img/logo.png" alt="Logo">
                    </a>
                </div>
            </div>
            <div class="col-md-6">
                <div class="search">
                    <form action="/tim-kiem" method="get">
                        <input type="text" id="txtKeyword" name="keyword" placeholder="Gõ từ khoá">
                        <button type="submit" ><i class="fa fa-search"></i></button>
                    </form>
                </div>
            </div>
            <div class="col-md-3">
                <div class="user">
                    <a href="/luu-bai-viet" class="btn wishlist">
                        <i class="fa fa-heart"></i>
                        <span>@Model.Count</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>