@model List<Models.EF.Menu>
<div class="menu">
    <ul>
        @foreach(var item in Model)
        {
        <li><a href="@item.Link" target="@item.Target">@item.Text</a></li>
        }
        
        <div class="clear"></div>
    </ul>
</div>
@*<div class="search_box">
    <form>
        <input type="text" value="Search" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Search';}"><input type="submit" value="">
    </form>
</div>*@

<div class="search_box">
    <form action="/tim-kiem" method="get">
        <input type="text" id="txtKeyword" name="keyword" placeholder="Gõ từ khoá">
        <input type="submit" value="" style=" border-radius: 4px; background: url(/Assets/Client/images/search.png) no-repeat 3px 4px;">
    </form>
</div>
<div class="clear"></div>