
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="content">
    <div class="row">
        <div class="col-lg-12">
            <h2>CHÍNH SÁCH RIÊNG TƯ VÀ QUYỀN BẢO MẬT</h2>
            <div class="col-md-10">
                <h3 style="font-size:25px;">Giới thiệu</h3>
                <br/>
                <p>
                    Chính sách này mô tả những thông tin chúng tôi thu thập khi bạn sử dụng CM-ReviewShop. Nó cũng cung cấp thông tin về cách chúng tôi lưu trữ, chuyển, sử dụng và xóa thông tin đó và bạn có những lựa chọn nào đối với thông tin đó. Chính sách này áp dụng khi chúng tôi đóng vai trò là Người kiểm soát dữ liệu liên quan đến dữ liệu cá nhân của người dùng Dịch vụ của chúng tôi; nói cách khác, nơi chúng tôi xác định mục đích và phương tiện xử lý dữ liệu cá nhân đó. Đối với nội dung và dữ liệu mà bạn tải lên hoặc cung cấp thông qua Dịch vụ ("Nội dung người dùng"), bạn có trách nhiệm đảm bảo nội dung này tuân theo Điều khoản dịch vụ của chúng tôi và nội dung đó không vi phạm quyền riêng tư của người dùng khác.
                </p>
                <br/>
                <h3 style="font-size:25px;">Thay đổi chính sách</h3>
                <br/>
                <p>Chúng tôi có thể thay đổi các Điều khoản này bất kỳ lúc nào. Chúng tôi lưu giữ hồ sơ lịch sử về tất cả các thay đổi đối với Điều khoản của chúng tôi . Nếu một thay đổi là quan trọng, chúng tôi sẽ cho bạn biết trước khi nó có hiệu lực. Bằng cách sử dụng Cm-ReviewShop vào hoặc sau ngày có hiệu lực đó, bạn đồng ý với các Điều khoản mới. Nếu bạn không đồng ý với chúng, bạn nên xóa tài khoản của mình trước khi chúng có hiệu lực, nếu không việc sử dụng Dịch vụ và Nội dung của bạn sẽ phải tuân theo các Điều khoản mới.</p>

            </div>
            
        </div>
       

    </div>
</div>
