
@{
    ViewBag.Title = "View";
    Layout = "~/Areas/Admin/Views/Shared/_Layouts.cshtml";
}

@section header{
    Lỗi Không Có Quyền
    }
<div class="alert alert-danger">
    Bạn Không Có Quyền Truy Cập
</div>

